 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 62px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 11px 397px 0 468px;
}

.u-section-1 .u-image-1 {
  width: 396px;
  height: 396px;
  margin: 11px 372px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: NaNpx;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
    margin-left: 368px;
    margin-right: 297px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 272px;
    margin-right: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 258px;
    margin-right: 187px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 162px;
    margin-right: 162px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 97px;
    margin-left: 168px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 72px;
    margin-right: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 65px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}